#root {
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 6rem 2rem 2rem; /* Top padding accounts for fixed nav */
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.table {
    margin: 2rem auto;
}